---
kind: Deployment
apiVersion: apps/v1
metadata:
  namespace: {{ jo_dmapi_namespace }}
  name: jupyternotebooks-operator
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      application: jupyternotebooks-operator
  template:
    metadata:
      labels:
        application: jupyternotebooks-operator
    spec:
      serviceAccountName: jupyternotebooks-account

      # Prefer 'application' nodes before 'core'
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: informaticsmatters.com/purpose-application
                operator: Exists
            - matchExpressions:
              - key: informaticsmatters.com/purpose-core
                operator: Exists

      containers:
      - name: jupyternotebooks-operator
        image: {{ jo_image }}:{{ jo_image_tag }}
{% if jo_image_tag in ['stable', 'latest'] %}
        imagePullPolicy: Always
{% else %}
        imagePullPolicy: IfNotPresent
{% endif %}
        env:
        - name: INGRESS_DOMAIN
          value: {{ jo_ingress_domain }}
{% if jo_ingress_tls_secret %}
        - name: INGRESS_TLS_SECRET
          value: {{ jo_ingress_tls_secret }}
{% else %}
        - name: INGRESS_CERT_ISSUER
          value: {{ jo_ingress_cert_issuer }}
{% endif %}
        resources:
          requests:
            cpu: {{ jo_cpu_request }}
            memory: {{ jo_mem_request }}
{% if jo_cpu_limit or jo_mem_limit %}
          limits:
{% if jo_cpu_limit %}
            cpu: {{ jo_cpu_limit }}
{% endif %}
{% if jo_mem_limit %}
            memory: {{ jo_mem_limit }}
{% endif %}
{% endif %}
